.current {
    color: red;
  }

.info{
  margin-top: 20px;
  padding: 3vw;
  background-color:aliceblue;
}

.info .info-text{
  margin: auto 3vw auto 3vw; 
}

.avatar {
  border-radius: 50%;
}

.post{
  margin: -2vw;
  padding: 2vw;
  background-color: aliceblue;
}